window-rule {
  match app-id=r#"^org\.keepassxc\.KeePassXC$"#
  match app-id=r#"^org\.gnome\.World\.Secrets$"#
  match app-id=r#"1password$"#
  block-out-from "screen-capture"
}

window-rule {
  match app-id=r#"firefox$"# title="^Picture-in-Picture$"
  match app-id=r#"1password$"#
  match app-id=r#"LocalSend$"#
  match app-id=r#"qbittorrent$"#
  open-floating true
}

window-rule {
  match app-id="dev.noctalia.Noctalia"
  match app-id=r#"thunar"#
  open-floating true
  default-column-width { fixed 1080; }
  default-window-height { fixed 920; }
}

window-rule {
    geometry-corner-radius 0
    clip-to-geometry true
    open-maximized-to-edges false
    draw-border-with-background false
    background-effect {
      blur true
      xray true
    }
    popups {
        background-effect {
          blur true
          xray false
        }
    }
}


layer-rule {
  match namespace="^noctalia-backdrop"
  place-within-backdrop true
}

layer-rule {
  match namespace="^noctalia-(bar-[^\"]+|notification|dock|panel|attached-panel|osd)$"
  background-effect {
    xray false
    // blur false
  }
}

blur {
    passes 4 // (set to 1 to remove seam between attached panels and the bar for noctalia)
    offset 6
    noise 0
    saturation 1
}
