[user]
	name = im6h
	email = danghaiv.18@gmail.com
	signingkey = /var/home/doku/.ssh/id_ed25519_git.pub
[gpg]
	format = ssh

# if you prefer using 1password agent
# [gpg "ssh"]
# program = /home/linuxbrew/.linuxbrew/bin/op-ssh-sign

[commit]
	gpgsign = true
[core]
	editor = vim
[init]
	defaultBranch = main
