# This is Git's per-user configuration file.
# Please adapt and uncomment the following lines:
#	name = im6h
#	email = danghaiv.18@gmail.com 
[commit]
	gpgsign = true
[gpg]
	format = ssh
[user]
	name = im6h
	email = danghaiv.18@gmail.com
[core]
	editor = vim
